NODE_ENV=required


# --- Mailer ----------------------------------------------------------
MAILER_FROM=contact@wecon.dev
MAILER_HOST=smtp-api.infobip.com
MAILER_PORT=587
MAILER_SECURE=false
MAILER_AUTH_USER=k13-blog
MAILER_AUTH_PASS=U9xnBsCBe4nSTiM